DB_ENGINE=django.db.backends.mysql
DB_NAME=factures
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_PORT=3306
ALLOWED_HOSTS=*
DEBUG=True
SECRET_KEY=change-me
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=user@example.com
EMAIL_HOST_PASSWORD=change-me
DEFAULT_FROM_EMAIL=user@example.com
