{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} 
{% block Content %}

  <div class="row mt-3">
    <div class="card">
      <div class="card-header"><h3>Formulaire d'ajout d'une facture</h3></div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-4">{{form.numero_facture|as_crispy_field}}</div>
            <div class="col-md-4">{{form.clients|as_crispy_field}}</div>
            <div class="col-md-4">{{form.date_facture|as_crispy_field}}</div>
            <div class="col-md-3">{{form.mode_paiement|as_crispy_field}}</div>
            <div class="col-md-7">{{form.note|as_crispy_field}}</div>
            <div class="col-md-2 " style="margin-top:30px;"  >
              <div class="d-grid" >
                <button class="btn btn-success" type="submit">Valider</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% if slug %}
  <div class="row">
    <div class="card">
     <div class="card-body">
      <div class="row">
          <form id="myForm" hx-post="{% url 'add_lignefacture' %}" hx-target="#factures" hx-swap="innerHTML">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <input type="text" class="form-control" hidden name="factures" value="{{factform.factures.value}}">
              </div>
              <div class="col-md-4">{{factform.produits|as_crispy_field}}</div>
              <div class="col-md-3">{{factform.prix_unitaire|as_crispy_field}}</div>
              <div class="col-md-3">{{factform.quantite|as_crispy_field}}</div>           
              <div class="col-md-2" style="margin-top: 29px;">
                <div class="d-grid">
                  <button class="btn btn-success" type='submit' id="btn_ajout">+</button>
                </div>
              </div>
            </div>
        </form>
      </div>
        <div id="factures">
            {% include "factures/partials/liste.html" %}
        </div>
      </div>
    </div>
</div>
{% endif %}

{% endblock Content %}

{% block Script %}
<Script>
  let form=document.getElementById('myForm')
  form.addEventListener('htmx:afterRequest',function(e){
    const activeButton=document.activeElement;
    if(e.detail.xhr.status == 200){
        if(e.detail.successful && activeButton && activeButton.id === 'btn_ajout'){
          $('#id_produits').val(null).trigger('change');
          document.getElementById('myForm').reset();
          document.getElementById('id_quantite').value="";
          document.getElementById('prix_unitaire').value="";         
        }
    }
  })
</Script>

{% endblock Script %}
