{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} 
{% block Content %}

  <div class="row mt-3">
    <div class="card">
      <div class="card-header"><h3>Formulaire de modification des utilisateurs</h3></div>
      <div class="card-body">
        <form action="" method="post">
          {% csrf_token %}
          <div class="row">
                {{form|crispy}}
                <button class="btn btn-success">Modifier</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock Content %}
