<!-- {% load active_link_tags %}
<div class="row">
    <div class="col-md-5 mt- text-dark"> 
        <div class="header-element">
    
            <li style="padding:0px !important;" class="header-link dropdown-toggle " data-bs-auto-close="outside" aria-expanded="false">
                <div class="d-flex align-items-center">
                    <div class="d-xl-block d-none p-1 text-white">
                        <a href="{%  url 'users_index' %}"  class="btn_menu  rounded-pill p-1 px-2  {% active_link 'users_index' css_class='btn_menu_active' %}" style="color:black;">
                         Utilisateurs
                        </a>
                    </div>
                </div>
            </li>     

            <li style="padding:0px !important;" class="header-link dropdown-toggle " data-bs-auto-close="outside" aria-expanded="false">
                <div class="d-flex align-items-center">
                    <div class="d-xl-block d-none p-1 text-white">
                        <a href="{%  url 'groupes_index' %}"  class="btn_menu  rounded-pill p-1 px-2  {% active_link 'groupes_index' css_class='btn_menu_active' %}" style="color:black;">
                         Groupes
                        </a>
                    </div>
                </div>
            </li>  

            {% comment %} <li style="padding:0px !important;" class="header-link dropdown-toggle " data-bs-auto-close="outside" aria-expanded="false">
                <div class="d-flex align-items-center">
                    <div class="d-xl-block d-none p-1 text-white">
                        <a href="{%  url 'bon_commandes_index' %}"  class="btn_menu  rounded-pill p-1 px-2  {% active_link 'bon_commandes_index' css_class='btn_menu_active' %}" style="color:black;">
                         Facture
                        </a>
                    </div>
                </div>
            </li>       {% endcomment %}

            {% comment %} <div class="header-element">
                <a href="#" class="header-link dropdown-toggle" id="mainHeaderProfile" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    <div class="d-flex align-items-center">
                        <div class="d-xl-block d-none">
                            <p style="color:white" class=" mb-0 lh-"><i class="fe fe-chevron-down side-menu__angle"></i></p>
                            <span class="op-7 fw-normal d-block fs-11"></span>
                        </div>
                    </div>
                </a>
                <ul class="main-header-dropdown dropdown-menu pt-0 overflow-hidden header-profile-dropdown dropdown-menu-end" aria-labelledby="mainHeaderProfile">
                    <li style="cursor: pointer;"><a style="color:black;cursor: pointer;" class="dropdown-item d-flex border-bottom" href="{% url 'annees-create' %}"><i class="far fa-user-circle fs-16 me-2 op-7"></i>Nouvel exercice</a></li>
                    <li style="cursor: pointer;"><a style="color:black;cursor: pointer;" class="dropdown-item d-flex border-bottom" href="{% url 'annees-index' %}"><i class="far fa-user-circle fs-16 me-2 op-7"></i>Listes des exercices</a></li>
                    <li style="cursor: pointer;"><a style="color:black;cursor: pointer;" class="dropdown-item d-flex" href="{% url 'update_annee' %}"><i class="far fa-arrow-alt-circle-left fs-16 me-2 op-7"></i>Changement d'exercice</a></li>
                    <li style="cursor: pointer;"><a style="color:black;cursor: pointer;" class="dropdown-item d-flex" href="{% url 'cloturer' %}"><i class="far fa-arrow-alt-circle-left fs-16 me-2 op-7"></i>Cloture d'exercice</a></li>
                </ul>
            </div>  {% endcomment %}
        </div> 
    </div>
</div> -->