{% load static %} {% load humanize %}
<!-- row -->
<div class="row">
  <div class="col-xxl-5 col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12">
        <div class="card sales-card">
          <div class="row">
            <div class="col-8">
              <div class="ps-4 pt-4 pe-3 pb-4">
                <div class="">
                  <span class="mb-2 fs-12 fw-semibold d-block">Stock Mais</span>
                </div>
                <div class="pb-0 mt-0">
                  <div class="d-flex">
                    <h4 class="fs-12 fw-semibold mb-2">
                      {{produits.montant|intcomma}} GNF
                    </h4>
                  </div>
                  <p class="mb-0 fs-12 text-muted">
                    Nombre d'omo vendus
                    <i class="bx bx-caret-up mx-2 text-success"></i>
                    <span class="text-success fw-semibold">
                      {{stock_omo.quantite|intcomma}} sachets
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div
                class="circle-icon bg-primary-transparent text-center align-self-center overflow-hidden"
              >
                <i class="fe fe-shopping-bag fs-16 text-primary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12">
        <div class="card sales-card">
          <div class="row">
            <div class="col-8">
              <div class="ps-4 pt-4 pe-3 pb-4">
                <div class="">
                  <span class="mb-2 fs-12 fw-semibold d-block"
                    >Stock Patte</span
                  >
                </div>
                <div class="pb-0 mt-0">
                  <div class="d-flex">
                    <h4 class="fs-12 fw-semibold mb-2">
                      {{stock_patte.montant|intcomma}} GNF
                    </h4>
                  </div>
                  <p class="mb-0 fs-12 text-muted">
                    Nombre des pattes vendues
                    <i class="bx bx-caret-up mx-2 text-success"></i>
                    <span class="text-success fw-semibold">
                      {{stock_patte.quantite|intcomma}} Cartons
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div
                class="circle-icon bg-info-transparent text-center align-self-center overflow-hidden"
              >
                <i class="fe fe-dollar-sign fs-16 text-info"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12">
        <div class="card sales-card">
          <div class="row">
            <div class="col-8">
              <div class="ps-4 pt-4 pe-3 pb-4">
                <div class="">
                  <span class="mb-2 fs-12 fw-semibold d-block"
                    >Totale vente
                  </span>
                </div>
                <div class="pb-0 mt-0">
                  <div class="d-flex">
                    <h4 class="fs-12 fw-semibold mb-2">
                      {{total_vente|intcomma}} GNF
                    </h4>
                  </div>
                  <p class="mb-0 col-md-12 fs-12 text-muted">
                    Nombre de produits vendus
                    <i class="bx bx-caret-up mx-2 text-success"></i>
                    <span class="text-success fw-semibold"
                      >{{quantite_total|intcomma}}
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div
                class="circle-icon bg-secondary-transparent text-center align-self-center overflow-hidden"
              >
                <i class="fe fe-external-link fs-16 text-secondary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-7 col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="card custom-card overflow-hidden">
      <div class="card-header border-bottom-0">
        <div>
          <h3 class="card-title mb-2">Representation graphique</h3>
          <span class="d-block fs-12 mb-0 text-muted"></span>
        </div>
      </div>
  
      <div class="card-body">
        <div id="statistics1"></div>
      </div>
    

      {% comment %} <div>
        <canvas id="myChart"></canvas>
      </div> {% endcomment %}

     
    </div>
  </div>
  <!-- </div> -->
</div>
<!-- row closed -->


{% block Script %}
 <script>
		var options1 = {
				series: [{
					name: 'Total commande',
					data: [44, 42, 57, 86, 58, 55, 70, 43, 23, 54, 77, 34],
				}, {
					name: 'Total vente',
					data: [34, 22, 37, 56, 21, 35, 60, 34, 56, 78, 89, 53],
				}],
				chart: {
					type: 'bar',
					height: 280
				},
				grid: {
					borderColor: '#f2f6f7',
				},
				colors: ["#38cab3", "#e4e7ed"],
				plotOptions: {
					bar: {
						colors: {
							ranges: [{
								from: -100,
								to: -46,
								color: '#ebeff5'
							}, {
								from: -45,
								to: 0,
								color: '#ebeff5'
							}]
						},
						columnWidth: '40%',
					}
				},
				dataLabels: {
					enabled: false,
				},
				stroke: {
					show: true,
					width: 4,
					colors: ['transparent']
				},
				legend: {
					show: true,
					position: 'top',
				},
				yaxis: {
					title: {
						text: 'Growth',
						style: {
							color: '#adb5be',
							fontSize: '14px',
							fontFamily: 'poppins, sans-serif',
							fontWeight: 600,
							cssClass: 'apexcharts-yaxis-label',
						},
					},
					labels: {
						formatter: function (y) {
							return y.toFixed(0) + "";
						}
					}
				},
				xaxis: {
					type: 'month',
					categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'sep', 'oct', 'nov', 'dec'],
					axisBorder: {
						show: true,
						color: 'rgba(119, 119, 142, 0.05)',
						offsetX: 0,
						offsetY: 0,
					},
					axisTicks: {
						show: true,
						borderType: 'solid',
						color: 'rgba(119, 119, 142, 0.05)',
						width: 6,
						offsetX: 0,
						offsetY: 0
					},
					labels: {
						rotate: -90
					}
				}
			};
			document.getElementById('yassar').innerHTML = '';
			var chart1 = new ApexCharts(document.querySelector("#yassar"), options1);
			chart1.render();
			function yassar() {
				chart1.updateOptions({
					colors: ["rgb(" + myVarVal + ")", "#e4e7ed"],
				});
			}

      </script>
{% endblock Script %} 