{% extends "base.html" %}
 {% load static %}
{% load crispy_forms_tags %} 
{% block Content %}
  <div class="row mt-2">
    <div class="card">
      <div class="card-header"><h3>Formulaire d'ajout d'une  vente</h3></div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="row">        
            <div class="col-md-3">{{form.clients|as_crispy_field}}</div>           
            <div class="col-md-3">{{form.date|as_crispy_field}}</div>
            <div class="col-md-2" >{{form.statut|as_crispy_field}}</div>
            <div class="col-md-2" >{{form.reference|as_crispy_field}}</div>
            <div class="col-md-2" id="date" >  </div>
            <div class="col-md-1"  >
              <div class="d-grid"  >
                <button class="btn btn-success" type="submit" {% if slug %} disabled {% endif %}  >Valider</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% if slug %}
  <div class="row mt-2">
      <div class="card">
          <div class="card-body">
            <div class="row">
              <form id="myForm"  hx-post="{% url 'ajout_vente' %}" hx-target="#liste_vente" hx-swap="innerHTML">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12">
                      <input type="text" name="ventes" class="form-control" hidden value="{{detailform.ventes.value}}">
                      <span> </span>
                    </div>
                    <div class="col-md-4">{{detailform.produits|as_crispy_field}}
                      <span style="color:red;font-size: 13px;margin-top:-17px;" id="error"></span>
                    </div>
                      
                    <div class="col-md-3" id="pu_id">
                        <label for="" class="form-label">Prix unitaire</label>
                        <input  id="prix_unitaire" class="form-control" type="text" name="prix_unitaire" value="{{pv}}">
                    </div>
                    
                    <div class="col-md-3">{{detailform.quantite|as_crispy_field}}</div>
                    <div class="col-md-2" style="margin-top:29px;" >
                      <div class="d-flex justify-content-around">
                        <button class="btn btn-success me-1" id='btn_ajout'>Ajouter</button>
                      </div>
                    </div>
                    
                    </div>
              </form>
            <div id="liste_vente">
                {% include "ventes/liste.html" %}
            </div>
          </div>
      </div>
  </div>
  </div>
{% endif %}
{% endblock Content %}
{% block Script %}
<Script>
  let form=document.getElementById('myForm')
  form.addEventListener('htmx:afterRequest',function(e){
    const activeButton=document.activeElement;
    if(e.detail.xhr.status == 200){
        if(e.detail.successful && activeButton && activeButton.id === 'btn_ajout'){
          $('#id_produits').val(null).trigger('change');
          document.getElementById('myForm').reset();
          document.getElementById('id_quantite').value="";
          document.getElementById('prix_unitaire').value="";         
        }
    }
     else if(e.detail.xhr.status==400)
      {
         document.getElementById('error').innerHTML="Attention ! ce produit éxiste déjà";
          document.getElementById('error').style.color='red';
          document.getElementById('error').style.marginTop='5px';
        const response=JSON.parse(e.detail.responseText)
        document.getElementById('error').innerHTML=response.message
      }
  })
</Script>

{% endblock Script %}