{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block Content %}

<div class="row mt-3">
    <div class="card">
        <div class="card-header">
            <div class="col-md-11">
                <h3>Liste des ventes</h3>
            </div>
            <div class="col-md-1">
                <div class="d-grid">
                    <a href="{% url 'ventes_create' %}" class="btn btn-success">+Nouveau</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered "  id="myTable">
                <thead>
                    <tr>
                        <th style="width: 5%;">N°</th>
                        <th>Clients</th>
                        <th>Date</th>
                        <th>Etat</th>
                        <th>Reference</th>
                        <th style="width: 18%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in ventes %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{v.clients}}</td>
                        <td>{{v.date}}</td>
                        <td>{{v.statut}}</td>
                        <td>{{v.reference}}</td>
                        <td class="text-center">
                            <button type="button" class="delete btn btn-danger me-2 btn-sm"
                                data-href="{% url 'ventes_delete' v.slug %}" data-bs-toggle="modal"
                                data-bs-target="#delete">
                                <i class="fas fa-trash"></i>
                            </button>
                            <a href="{% url 'ventes_create'  %}?slug={{v.slug}}" class="btn btn-success btn-sm me-2"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'print_vente' v.slug %}" class="btn btn-dark btn-sm me-2"><i class="fas fa-print"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock Content %}