{% load static %}
{% load humanize %}

 {% comment %} id="myTable" {% endcomment %}
<table class="table table-bordered" >
    <thead>
        <tr>
            <th style="width: 5%;">N°</th>
            <th>Produits</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Montant</th>
            <th style="width: 10%;">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for d in details %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{d.produits}}</td>
                <td>{{d.quantite}}</td>
                <td>{{d.prix_unitaire|intcomma}}</td>
                <td style="text-align: right;margin-left: 4px;" >{{d.montant|intcomma}}</td>
                <td class="text-center">
                    <button type="button" class="delete btn btn-danger btn-sm" hx-post="{% url 'vente_delete' d.id %}" hx-target="#liste_vente" hx-swap="innerHTML">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        <tr >
            <td style="background-color: grey;font-weight: bold;" colspan="4">Montant total</td>
            <td style="text-align: right;margin-left:4px;font-weight: bold; background-color: grey;">{{montant_total|intcomma}}</td>
        </tr>
    </tbody>
</table>