{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} 
{% block Content %}

  <div class="row mt-3">
    <div class="card">
      <div class="card-header"><h3>Formulaire d'ajout d'une absence </h3></div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-3">{{form.inscriptions|as_crispy_field}}</div>
            <div class="col-md-3">{{form.date_absence|as_crispy_field}}</div>
            <div class="col-md-4 ">{{form.motif|as_crispy_field}}</div>
            <div class="col-md-2">{{form.justifie|as_crispy_field}}</div>
            <div class="col-md-2" >
              <div class="d-grid" >
                <button class="btn btn-success" type="submit">Valider</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock Content %}
