{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block Content %}

<div class="row mt-3">
    <div class="card">
        <div class="card-header">
            <div class="col-md-11">
                <h3>Liste des matières </h3>
            </div>
            <!-- {% if perms.enseignantss.add_enseignants   %} -->
                <div class="col-md-1">
                    <div class="d-grid">
                        <a href="{% url 'matieres_create' %}" class="btn btn-success">+Nouveau</a>
                    </div>
                </div>
            <!-- {% endif %} -->
        </div>
    <div class="card-body">
      <table class="table table-bordered" id="myTable">
        <thead>
            <tr>
                <th style="width: 5%;">N°</th>
                <th>Nom</th>
                <th>Coefficient</th>
                <th style="width: 15%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for c in matieres %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{c.nom}}</td>
                    <td>{{c.coefficient}}</td>
                    <td class="text-center">
                        <button type="button" class="delete btn btn-danger me-4 btn-sm" data-href="{% url 'matieres_delete' c.slug %}" data-bs-toggle="modal" data-bs-target="#delete">
                            <i class="fas fa-trash"></i>
                        </button>
                        <a href="{% url 'matieres_edit' c.slug %}" class="btn btn-success btn-sm"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>
    </div>

{% endblock Content %}
